.card {
  display: flex;
  gap: 16px;
  width: 294px;
  height: 90px;
  box-shadow: 0px 0px 2px #EEF4FE, 0px 1px 2px #D0DAEB;
  border-radius: 7px;
  padding: 16px;
  box-sizing: border-box;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.imgWrapper {
  width: 58px;
  height: 58px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}

/* FIXME: do we need this? */
.imgWrapper img {
  color: white;
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

.info {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}

.money {
  font-weight: normal;
}

.money::after {
  content: ' €';
}